<h1 class = 'title is-vcentered'>Home Page</h1>

<%= render 'form' %>


<%#= photo_params %>

<% if params[:flickr_id].nil? %>
Please enter a flickr id to see a users photos, or just look at these recent photos

    <% if @list.nil? %>
        No Photos, maybe bad flickr_id of <%= params[:flickr_id] %>


    <% end %>
<% end %>
<%= render 'photos' %>